{% extends "basic.html" %}
{% block body %}
<style>
        body {
                background: url(' {{url_for('static',filename='img/1.jpg')}} ') no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
        }
</style>

<div class="container h-100">
        <div class=" d-flex h-100 justify-content-center align-items-center my-5"
                style="border: 4px;position: relative;top: 100px;">
                <span class="border border-info "  >
                       <h1 class=" d-flex h-100 justify-content-center align-items-center" style="color: rgb(30, 27, 13);background-color:rgb(51, 43, 43)" ><span id="upload" style="color:white;"> Upload a File</span></h1>
                             
                        <form action="/uploader" method="post" enctype="multipart/form-data"
                                style="background-color: #f1e8e9;">
                                <input type="file" name="file1">
                                <button type="submit" id="msg" class="btn btn-primary" style="background-color:rgb(51, 43, 43)">predict</button>
                        </form>
                </span>
        </div>
</div>
<script>
        let msg = document.getElementById('msg')
msg.addEventListener('click',function(){
  alert('Your Image file successfully submited. Wait for the prediction');  
document.location = '/prediction'
});
</script>
{% endblock %}